* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}


body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("pic/time2.png");
    
    /* background:
        url("https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
        /* background: url("https://images5.alphacoders.com/109/1093581.jpg"); */
        /* background:url("https://img.freepik.com/free-photo/intellectual-banknote-student-sand-computer-graphic_1134-1185.jpg?size=626&ext=jpg&ga=GA1.2.1204464388.1674354048&semt=sph") ; */
}


h1 {
    text-transform: uppercase;
    /*new*/
    letter-spacing: 4px;
    /*new*/
    text-align: center;
    font-size: 40px;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span{
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(59, 195, 233, 0.667);
    height: 80px;
    width: 100px;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);/*new*/
}


.clock .text{
height: 30px;
font-size: 19px;
letter-spacing: 1.5px;
text-transform: uppercase;
background-color: rgba(3, 93, 116, 0.947);
}

.clock #ampm{
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 60px;
    background-color: rgba(151, 111, 86, 0.947);
    /* background-color: rgba(29, 181, 169, 0.947); */
    font-size: 25px;
    letter-spacing: 1.5px;
}